.pepper {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.pepper h2 {
    color:#4caf50;
}

@media (max-width: 768px) {
    .classification-container {
        width: 100%;
        
    }
}